<table class="table table-hover">
    <thead>
    <tr>
        <th data-field="name">Name</th>
        <th data-field="status">Status</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="#container of containers"
        (click)="onSelect(container)"
        [class.selected]="container === selectedContainer">
        <td>{{container.name}}</td>
        <td><label class="label" [ngClass]="{'label-success': isRunning(container), 'label-danger': isStopped(container), 'label-warning': (!isRunning(container)&&!isStopped(container))}">{{container.status}}</label></td>
    </tr>
    </tbody>
</table>