<header class="navbar navbar-inverse navbar-default navbar-fixed-top navbar-inner bg-faded">
    <div class="container">
        <div class="navbar-header hidden-md-up">
            <button type="button" class="navbar-toggle navbar-toggler pull-right" (click)="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" [routerLink]="['Home']">{{title}}</a>
        </div>
        <nav class="hidden-xs hidden-xs-down">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a role="button" class="navbar-brand" [routerLink]="['Home']">{{title}}</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['Containers']">Containers</a></li>
            </ul>
        </nav>
        <div class="navbar-form navbar-right hidden-xs hidden-xs-down">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="setting-lxd-url"><i class="material-icons md-18">settings applications</i></span>
                    <input type="text" class="form-control"
                           aria-describedby="setting-lxd-url"
                           placeholder="LXD server URL"
                           value="{{LXDServerUrl}}" (keyup.enter)="onLXDUrl($event)">
                </div>
            </div>
        </div>
    </div>
</header>