<button class="btn btn-default" (click)="goBack()">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
</button>
<div *ngIf="container">
    <h2>{{container.name}}</h2>
    <div>
        <span>Arch: {{container.architecture}}</span>
        <span>Status: {{container.status}}</span>
    </div>
    <div>
        <button class="btn btn-success" (click)="startAction()">
            <span class="glyphicon glyphicon-play" aria-hidden="true"> Start</span>
        </button>
        <button class="btn btn-default" (click)="stopAction()">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"> Stop</span>
        </button>
        <button class="btn btn-default" (click)="restartAction()">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"> Restart</span>
        </button>
        <button class="btn btn-danger" (click)="deleteAction()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"> Delete</span>
        </button>
        <!--<input [(ngModel)]="container.name" placeholder="name"/>-->
    </div>
</div>