<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th data-field="name">Name</th>
            <th data-field="arch">Arch</th>
            <th data-field="stateful">Stateful</th>
            <th data-field="ephemeral">Ephemeral</th>
            <th data-field="status">Status</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let container of containers"
            (click)="onSelect(container)"
            [class.selected]="container === selectedContainer">
            <td>{{container.name}}</td>
            <td>{{container.architecture}}</td>
            <td><i class="material-icons">{{container.stateful ? 'check_box':'check_box_outline_blank'}}</i></td>
            <td><i class="material-icons">{{container.ephemeral ? 'check_box':'check_box_outline_blank'}}</i></td>
            <td><label class="label" [ngClass]="{'label-success': container.isRunning(), 'label-danger': container.isStopped(), 'label-warning': (!container.isRunning()&&!container.isStopped())}">{{container.status}}</label></td>
        </tr>
        </tbody>
    </table>
</div>