<div *ngIf="container">
    <div class="header-title-action">
        <h2 class="container-title">{{container.name}}</h2>
        <button class="btn btn-primary" (click)="execAction()">
            <i class="material-icons md-18">tv</i>
        </button>
        <button class="btn btn-primary" (click)="startAction()">
            <i class="material-icons md-18">play_arrow</i>
        </button>
        <button class="btn btn-primary" (click)="stopAction()">
            <i class="material-icons md-18">stop</i>
        </button>
        <button class="btn btn-primary" (click)="restartAction()">
            <i class="material-icons md-18">refresh</i>
        </button>
        <button class="btn btn-primary" (click)="deleteAction()">
            <i class="material-icons md-18">delete</i>
        </button>
    </div>
    <div>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th data-field="arch">Arch</th>
                    <th data-field="profiles">Profiles</th>
                    <th data-field="created_at">Created at</th>
                    <th data-field="stateful">Stateful</th>
                    <th data-field="ephemeral">Ephemeral</th>
                    <th data-field="status">Status</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{container.architecture}}</td>
                    <td>{{container.profiles}}</td>
                    <td>{{container.created_at}}</td>
                    <td><i class="material-icons">{{container.stateful ? 'check_box':'check_box_outline_blank'}}</i></td>
                    <td><i class="material-icons">{{container.ephemeral ? 'check_box':'check_box_outline_blank'}}</i></td>
                    <td><label class="label" [ngClass]="{'label-success': container.isRunning(), 'label-danger': container.isStopped(), 'label-warning': (!container.isRunning()&&!container.isStopped())}">{{container.status}}</label></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="console"></div>
</div>