<html>
<head>
    <title><%= webpackConfig.metadata.title %></title>
    <!-- base url -->
    <base href="<%= webpackConfig.metadata.baseUrl %>">
    <meta name="description" content="<%= webpackConfig.metadata.title %>">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Import Google Icon Font-->
    <link href="<%= webpackConfig.metadata.baseUrl %>vendors/material-icons/material-icons.css" rel="stylesheet">
    <!--Import ng2-toasty.css-->
    <link href="<%= webpackConfig.metadata.baseUrl %>vendors/ng2-toasty/ng2-toasty.css" rel="stylesheet">
    <!--Import bootstrap.css-->
    <link href="<%= webpackConfig.metadata.baseUrl %>vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--Import app style -->
    <link href="<%= webpackConfig.metadata.baseUrl %>assets/styles/main.css" rel="stylesheet">
</head>

<!-- 3. Display the application -->
<body>
<lxd-app>Loading...</lxd-app>
    <script src="<%= webpackConfig.metadata.baseUrl %>assets/js/term.js"></script>

    <% if (webpackConfig.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>
</html>