<html>
<head>
    <title><%= webpackConfig.metadata.title %></title>
    <!-- base url -->
    <base href="<%= webpackConfig.metadata.baseUrl %>">
    <meta name="description" content="<%= webpackConfig.metadata.title %>">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import bootstrap.css-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!--Import app style -->
    <link href="assets/styles/main.css">
</head>

<!-- 3. Display the application -->
<body>
<lxd-app>Loading...</lxd-app>
    <script src="assets/js/term.js"></script>

    <% if (webpackConfig.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="http://<%= webpackConfig.metadata.host %>:<%= webpackConfig.metadata.port %>/webpack-dev-server.js"></script>
    <% } %>
</body>
</html>