html, body {
    background-color: #CDCDCD;
}

/***** Loader CSS *****/
/* https://codepen.io/oliverholretz/pen/ojjVNy */
* {
    margin: 0;
    box-sizing: border-box;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
}

.box {
    width: 45%;
    height: 45%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-filter: blur(1px);
    animation: load 1s linear infinite;
}
.box:nth-of-type(1) {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
}
.box:nth-of-type(2) {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    animation-delay: -0.25s;
}
.box:nth-of-type(3) {
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    animation-delay: -0.5s;
}
.box:nth-of-type(4) {
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    animation-delay: -0.75s;
}

@keyframes load {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/**********************/

header.navbar-inverse{
    background-color: #888;
    border-color: #888;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .nav>li>.nav-link{
    color: white;
}

.navbar-inverse .nav>li>.nav-link:hover{
    color: white;
    background-color: #CDCDCD;
}

.navbar-inverse .nav>li>.router-link-active{
    color: white;
    background-color: #CDCDCD;
}

header .input-group-addon i {
    font-size: 20px;
}

.main-content {
    margin-top: 51px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
}

/******* Github corner *******/
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
/****************************/

.logo {
    height: 40px;
    width: 40px;
    background-image: url("../img/lxd-logo.png");
    background-size: 100% 100%;
    margin: 5px;
    display: inline-block;
}

.header-title-action {
    line-height: 60px;
}

.header-title-action, button {
    display: inline-block;
    vertical-align: middle;
}

h2.container-title{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

ul.image-alias {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

/** Use to process the term.js size **/
#console {
    width: 100%;
    padding-left: 2.9%;
}

.hidden-checkbox {
    visibility: hidden;
    position: absolute;
}

.label-checkbox {
    cursor: pointer;
}