
header .input-group-addon i {
    font-size: 20px;
}

.main-content {
    margin-top: 51px;
}

/******* Github corner *******/
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
/****************************/

.logo {
    height: 40px;
    width: 40px;
    background-image: url("../img/lxd-logo.png");
    background-size: 100% 100%;
    margin: 5px;
    display: inline-block;
}