<div *ngIf="container">
    <h2>{{container.name}}</h2>
    <div>
        <span>Arch: {{container.architecture}}</span>
        <span>Status: {{container.status}}</span>
    </div>
    <div>
        <button class="btn btn-primary" (click)="execAction()">
            <i class="material-icons md-24">tv</i>
        </button>
        <button class="btn btn-primary" (click)="startAction()">
            <i class="material-icons md-24">play_arrow</i>
        </button>
        <button class="btn btn-primary" (click)="stopAction()">
            <i class="material-icons md-24">stop</i>
        </button>
        <button class="btn btn-primary" (click)="restartAction()">
            <i class="material-icons md-24">refresh</i>
        </button>
        <button class="btn btn-primary" (click)="deleteAction()">
            <i class="material-icons md-24">delete</i>
        </button>
        <!--<input [(ngModel)]="container.name" placeholder="name"/>-->
    </div>
    <div id="console"></div>
</div>